# ignoring __pycache__ folders
**/__pycache__

# ignoring vscode config
**/.vscode

# ignoring installer build
**/build
**/icon
**/*.spec

# ignoring config
**/dropbox.txt
ffmpeg.exe
**/cam.setting
**/.autonomouseconfig
**/hardware.config

# ignoring virtual environment
.venv/