# ignoring __pycache__ folders
**/__pycache__

# ignoring vscode config
**/.vscode

# ignoring installer build
**/build
**/icon
**/*.spec

# ignoring config
**/dropbox.txts
**/cam.setting
**/.nosemazeconfig
**/hardware.config

# ignoring virtual environment
.venv/
venv/

# ignoring sphinx build files
sphinxDoc/build/

**/csv
messages/
