# ignoring __pycache__ folders
**/__pycache__

# ignoring vscode config
**/.vscode

# ignoring installer build
**/build
**/icon
**/*.spec

# ignoring config
**/dropbox.txts
**/cam.setting
**/.nosemazeconfig
**/hardware.config

# ignoring virtual environment
.venv/

# ignoring sphinx created files
sphinx_docs/